{% extends "base.html" %}
{% block title %} Пользователи {% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <i class="fa fa-sitemap"> Управление</i>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0" style="color:black;">Пользователи</h1>
        <a href="{% url 'user:adduser' %}"
           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-sm text-white-50"></i>
            ДОБАВИТЬ ПОЛЬЗОВАТЕЛЯ</a>
    </div>
    <!-- Content Row -->

        {% for item in object_list %}
        <!-- Users Cards  -->

        <div class="row col-md-12">


            <div class="col">
                {% if item.avatar %}
                <img src="{{item.avatar.url}}" width="40">
                {% else %}
                <i class="fas fa-sitemap fa-2x text-gray-300"> </i>
                {% endif %}
            </div>
            <div class="col">
                <a href="{% url 'user:user' pk=item.pk %}">
                {{ item.email }}{{ item.first_name }}{{ item.last_name }}
                     </a>
            </div>
        </div>

    <hr>
        {% endfor %}

</div>
<!-- /.container-fluid -->
{% endblock %}

