{% extends "base.html" %}
{% block title %} Карточка компании {% endblock %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">


    <!-- Page Heading -->
    <div>
        {% if company.logo %}

        <div>
            <i class="fa">
                <img src="{{company.logo.url}}" width="40"> Карточка компании
                <a class="collapse-item" href="{% url 'maker:companies' %}">
                    <i class="fa fa-ellipsis-v"> </i>
                </a>
            </i>
        </div>

        {% else %}
        <i class="fa fa-sitemap"> Карточка компании</i>
        <i class="fa fa-ellipsis-v"></i>
        {% endif %}

    </div>
    <!--          <i class="fa fa-sitemap"> Компания</i>-->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ company.name }}</h1>
        <!--            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-sm text-white-50"></i>СОЗДАТЬ КОМПАНИЮ</a>-->
    </div>

    <!-- Content Row -->

    <div class="row col-md-12">
        <a href="{% url 'user:user' pk=item.pk %}">
            <h2 class="post-title">
              сотрудники
            </h2>
        </a>

    </div>

</div>
<!-- /.container-fluid -->

{% endblock %}


